name: Release
on:
  push:
    tags:
      - "v*.*.*"

env:
  NX_XLA_SHA: ${{ github.sha }}
  NX_XLA_RELEASE_NAME: ${{ github.ref_name }}

  # Build envs for non-Docker jobs.
  USE_BAZEL_VERSION: 7.7.0
  XLA_BUILD: true
  XLA_CACHE_DIR: tmp/cache

jobs:
  linux-cpu:
    name: "x86_64-linux-gnu-cpu"
    runs-on: ubuntu-24.04
    steps:
      # Free up space, see https://github.com/orgs/community/discussions/25678#discussioncomment-5242449
      - run: rm -rf /opt/hostedtoolcache
      - uses: actions/checkout@v4
        with:
          ref: ${{ env.NX_XLA_SHA }}
      - run: builds/build.sh cpu
      - run: .github/scripts/upload_artifact.sh ${{ env.NX_XLA_SHA }} ${{ env.NX_XLA_RELEASE_NAME }} builds/output/*/cache/*/build/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  linux-cuda12:
    name: "x86_64-linux-gnu-cuda12"
    runs-on: ubuntu-24.04
    steps:
      # Free up space, see https://github.com/orgs/community/discussions/25678#discussioncomment-5242449
      - run: rm -rf /opt/hostedtoolcache
      - uses: actions/checkout@v4
        with:
          ref: ${{ env.NX_XLA_SHA }}
      - run: builds/build.sh cuda12
      - run: .github/scripts/upload_artifact.sh ${{ env.NX_XLA_SHA }} ${{ env.NX_XLA_RELEASE_NAME }} builds/output/*/cache/*/build/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  linux-cuda13:
    name: "x86_64-linux-gnu-cuda13"
    runs-on: ubuntu-24.04
    steps:
      # Free up space, see https://github.com/orgs/community/discussions/25678#discussioncomment-5242449
      - run: rm -rf /opt/hostedtoolcache
      - uses: actions/checkout@v4
        with:
          ref: ${{ env.NX_XLA_SHA }}
      - run: builds/build.sh cuda13
      - run: .github/scripts/upload_artifact.sh ${{ env.NX_XLA_SHA }} ${{ env.NX_XLA_RELEASE_NAME }} builds/output/*/cache/*/build/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  linux-tpu:
    name: "x86_64-linux-gnu-tpu"
    runs-on: ubuntu-24.04
    steps:
      # Free up space, see https://github.com/orgs/community/discussions/25678#discussioncomment-5242449
      - run: rm -rf /opt/hostedtoolcache
      - uses: actions/checkout@v4
        with:
          ref: ${{ env.NX_XLA_SHA }}
      - run: builds/build.sh tpu
      - run: .github/scripts/upload_artifact.sh ${{ env.NX_XLA_SHA }} ${{ env.NX_XLA_RELEASE_NAME }} builds/output/*/cache/*/build/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  linux-arm-cpu:
    name: "aarch64-linux-gnu-cpu"
    runs-on: ubuntu-24.04-arm
    steps:
      # Free up space, see https://github.com/orgs/community/discussions/25678#discussioncomment-5242449
      - run: rm -rf /opt/hostedtoolcache
      - uses: actions/checkout@v4
        with:
          ref: ${{ env.NX_XLA_SHA }}
      - run: builds/build.sh cpu
      - run: .github/scripts/upload_artifact.sh ${{ env.NX_XLA_SHA }} ${{ env.NX_XLA_RELEASE_NAME }} builds/output/*/cache/*/build/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  linux-arm-cuda12:
    name: "aarch64-linux-gnu-cuda12"
    runs-on: ubuntu-24.04-arm
    steps:
      # Free up space, see https://github.com/orgs/community/discussions/25678#discussioncomment-5242449
      - run: rm -rf /opt/hostedtoolcache
      - uses: actions/checkout@v4
        with:
          ref: ${{ env.NX_XLA_SHA }}
      - run: builds/build.sh cuda12
      - run: .github/scripts/upload_artifact.sh ${{ env.NX_XLA_SHA }} ${{ env.NX_XLA_RELEASE_NAME }} builds/output/*/cache/*/build/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  linux-arm-cuda13:
    name: "aarch64-linux-gnu-cuda13"
    runs-on: ubuntu-24.04-arm
    steps:
      # Free up space, see https://github.com/orgs/community/discussions/25678#discussioncomment-5242449
      - run: rm -rf /opt/hostedtoolcache
      - uses: actions/checkout@v4
        with:
          ref: ${{ env.NX_XLA_SHA }}
      - run: builds/build.sh cuda13
      - run: .github/scripts/upload_artifact.sh ${{ env.NX_XLA_SHA }} ${{ env.NX_XLA_RELEASE_NAME }} builds/output/*/cache/*/build/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  macos:
    name: "x86_64-darwin-cpu"
    # Note that opposed to the arm, we use macos 15, since that's the
    # only freely available macos x86_64 runner.
    runs-on: macos-15-intel
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ env.NX_XLA_SHA }}
      - run: brew install elixir
      - run: mix local.hex --force
      # Setup the compilation environment
      #
      # We could install a newer Clang specifically, however at some point bazel
      # toolchains invoke xcrun clang, which always uses the system version from
      # Xcode, ignoring whichever version we installed ourselves, therefore we
      # explicitly pick Xcode version from the available ones.
      - run: sudo xcode-select -s /Applications/Xcode_16.2.app
      - uses: bazel-contrib/setup-bazel@0.14.0
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - run: python -m pip install --upgrade pip numpy
      # Build and upload the archive
      - run: mix deps.get
      - run: mix compile
        env:
          XLA_TARGET: cpu
          # On x86_64 macos the build depends on onednn for certain kernels.
          # Installing onednn with brew doesn't work, so for now the simplest
          # solution is to disable it, given that this x86_64 macos is not
          # a very common target at this point.
          BUILD_FLAGS: "--define=tensorflow_mkldnn_contraction_kernel=0"
      - run: .github/scripts/upload_artifact.sh ${{ env.NX_XLA_SHA }} ${{ env.NX_XLA_RELEASE_NAME }} tmp/cache/*/build/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  macos-arm:
    name: "aarch64-darwin-cpu"
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ env.NX_XLA_SHA }}
      - run: brew install elixir
      - run: mix local.hex --force
      # Setup the compilation environment
      #
      # We could install a newer Clang specifically, however at some point bazel
      # toolchains invoke xcrun clang, which always uses the system version from
      # Xcode, ignoring whichever version we installed ourselves, therefore we
      # explicitly pick Xcode version from the available ones.
      - run: sudo xcode-select -s /Applications/Xcode_16.2.app
      - uses: bazel-contrib/setup-bazel@0.14.0
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - run: python -m pip install --upgrade pip numpy
      # Build and upload the archive
      - run: mix deps.get
      - run: mix compile
        env:
          XLA_TARGET: cpu
      - run: .github/scripts/upload_artifact.sh ${{ env.NX_XLA_SHA }} ${{ env.NX_XLA_RELEASE_NAME }} tmp/cache/*/build/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
